STT_MODEL_ID=Chillarmo/whisper-large-v3-turbo-armenian
LLM_MODEL_ID=Gen2B/HyGPT-10b-it
TTS_MODEL_ID=Edmon02/speecht5_finetuned_voxpopuli_hy
VOCODER_MODEL_ID=microsoft/speecht5_hifigan
SPEAKER_DATASET_ID=Matthijs/cmu-arctic-xvectors
SPEAKER_PROFILE_INDEX=7306
HOST=0.0.0.0
PORT=7860
HF_TOKEN=
